<link rel="import" href="../../polymer/polymer-element.html">

<dom-module id="input-bind">
  <template>
    <input value="{{iValue::input}}">
  </template>
  <script>
    /**
     * 'input-bind'
     * Exercise 17 of Exercism Polymer-GFT
     * 
     * @customElement
     * @polymer
     **/
    class InputBind extends Polymer.Element {
      static get is() {
        return 'input-bind';
      }

      static get properties() {
        return {
          iValue: {
            type: String
          }
        }
      }

      constructor() {
        super();
      }
    }
    window.customElements.define(InputBind.is, InputBind)

  </script>
</dom-module>
