<link rel="import" href="../../polymer/polymer-element.html">

<dom-module id="work-arrays">
  <script>
    /**
     * 'work-arrays'
     * Exercise 01 of Exercism Polymer-GFT
     * 
     * @customElement
     * @polymer
     **/
    class WorkArrays extends Polymer.Element {
      static get is() {
        return 'work-arrays';
      }

      static get properties() {
        return {
          elements: {
            type: Array,
            value: []
          }
        }
      }

      addElement(data) {
        this.elements.push(data);
      }

      removeElement(data) {
        this.elements = this.elements.filter(el => el !== data)
      }

      removeLastElement() {
        this.elements.pop();
      }

      addElementsAtBegin(data) {
        this.elements.unshift(data);
      }

      getElementByIndex(data) {
        return this.elements.indexOf(data);
      }
    }
    window.customElements.define(WorkArrays.is, WorkArrays)

  </script>
</dom-module>
