<link rel="import" href="../../polymer/polymer-element.html" />
<link rel="import" href="./mixin-polymer.html" />

<dom-module id="mixin-demo">
  <script>
    /**
     * 'mixin-demo'
     * Exercise 07 of Exercism Polymer-GFT
     *
     * @customElement
     * @polymer
     **/
    class MixinDemo extends MixinPolymer(Polymer.Element) {
      static get is() {
        return 'mixin-demo';
      }

      ready() {
        super.ready();
        this.changeDemo();
        this.changeParentProp();
      }

      constructor() {
        super();
      }
    }

    window.customElements.define(MixinDemo.is, MixinDemo);

  </script>
</dom-module>
