<link rel="import" href="../../polymer/polymer-element.html" />
<link rel="import" href="./mixin-polymer.html" />

<dom-module id="mixin-hybrid">
  <script>
    /**
     * 'button-counter'
     * Exercise 06 of Exercism Polymer-GFT
     *
     * @customElement
     * @polymer
     **/
    class MixinHybrid extends Polymer.mixinBehaviors([MixinPolymer], Polymer.Element) {
      static get is() {
        return 'mixin-hybrid';
      }

      ready() {
        super.ready();
        this.changeDemo();
        this.changeParentProp();
      }

      constructor() {
        super();
      }
    }

    window.customElements.define(MixinHybrid.is, MixinHybrid);

  </script>
</dom-module>
