<link rel="import" href="../bower_components/polymer/polymer-element.html" />
<link rel="import" href="./send-event.html">

<dom-module id="polymer-comunication-event">
  <template>
    <send-event on-change-value="_onChangeValue"></send-event>
    <h1>[[evtTxt]]</h1>
  </template>
  <script>
    /**
     * 'polymer-comunication-event'
     * Exercise 15 of Exercism Polymer-GFT
     *
     * @customElement
     * @polymer
     **/

    class PolymerComunicationEvent extends Polymer.Element {
      static get is() {
        return 'polymer-comunication-event';
      }

      static get properties() {
        return {
          evtTxt: {
            type: String,
          },
        };
      }

      _onChangeValue(e) {
        this.evtTxt = e.detail.value;
      }

      constructor() {
        super();
      }
    }
    window.customElements.define(
      PolymerComunicationEvent.is,
      PolymerComunicationEvent
    );

  </script>
</dom-module>
