<link rel="import" href="../bower_components/polymer/polymer-element.html" />

<dom-module id="send-event">
  <template>
    <button on-click="changeValue">Dale Click</button>
  </template>
  <script>
    /**
     * 'send-event'
     * Exercise 15 of Exercism Polymer-GFT
     *
     * @customElement
     * @polymer
     **/

    class SendEvent extends Polymer.Element {
      static get is() {
        return 'send-event';
      }

      static get properties() {
        return {
          detail: {
            type: String,
            value: 'from two to six',
          },
        };
      }

      changeValue(e) {
        this.dispatchEvent(
          new CustomEvent('change-value', {
            bubbles: true,
            composed: true,
            detail: {
              value: this.detail
            },
          })
        );
      }
      
      constructor() {
        super();
      }
    }
    window.customElements.define(SendEvent.is, SendEvent);

  </script>
</dom-module>
