<link rel="import" href="../../polymer/polymer-element.html" />

<dom-module id="button-counter">
  <template>
    <span>{{secondsValue}}</span>
    <form>
      <input type="number" value="{{secondsValue::input}}">
    </form>
    <button disabled$="[[buttonStatus]]" on-click="start">Button</button>
  </template>
  <script>
    /**
     * 'button-counter'
     * Exercise 03 of Exercism Polymer-GFT
     *
     * @customElement
     * @polymer
     **/
    class ButtonCounter extends Polymer.Element {
      static get is() {
        return 'button-counter';
      }

      static get properties() {
        return {
          secondsValue: {
            type: Number,
            value: 0,
          },
          buttonStatus: {
            type: Boolean,
            value: false
          },
          startStatus: {
            type: Boolean,
            value: true
          },
          stopTime: {
            type: Number,
            value: 0,
          },
          stop: {
            type: Boolean,
            value: false
          },
          timeTillStop: {
            type: Number,
            value: 0
          }
        };
      }

      changeButtonStatus() {
        this.buttonStatus = !this.buttonStatus;
      }

      update(timer) {
        if (this.startStatus) {
          this.changeButtonStatus();
          this.stopTime = timer + (this.secondsValue * 1000);
          this.startStatus = false;
        } else {
          if (timer >= this.stopTime) {
            this.stop = true;
          }
        }

        this.timeTillStop = this.stopTime - timer;

        this.secondsValue = Math.floor(this.timeTillStop / 1000) + 1;

        if (!this.stop) {
          window.requestAnimationFrame(this.update.bind(this));
        } else {
          this.changeButtonStatus();
        }
      }

      start() {
        if (this.secondsValue > 0) {
          window.requestAnimationFrame(this.update.bind(this));
        }
      }

      constructor() {
        super();
      }
    }
    window.customElements.define(ButtonCounter.is, ButtonCounter);

  </script>
</dom-module>
