<link rel="import" href="../../polymer/polymer-element.html" />

<dom-module id="button-counter">
  <template>
    <span>{{seconds}}</span>
    <form>
      <input type="number" value="{{seconds::input}}">
    </form>
    <button disabled$="[[buttonStatus]]" on-click="startCountDown">Button</button>
  </template>
  <script>
    /**
     * 'button-counter'
     * Exercise 03 of Exercism Polymer-GFT
     *
     * @customElement
     * @polymer
     **/
    class ButtonCounter extends Polymer.Element {
      static get is() {
        return 'button-counter';
      }

      static get properties() {
        return {
          seconds: {
            type: Number,
            value: 0,
          },
          buttonStatus: {
            type: Boolean,
            value: false
          }
        };
      }

      changeButtonStatus() {
        this.buttonStatus = !this.buttonStatus;
      }

      startTimer() {
        setTimeout(() => {
          this.seconds = --this.seconds;

          if (this.seconds === 0) {
            this.changeButtonStatus();
          } else {
            window.requestAnimationFrame(this.startTimer.bind(this));
          }
        }, 1000);

      }

      startCountDown() {
        if (this.seconds > 0) {
          this.changeButtonStatus();
          window.requestAnimationFrame(this.startTimer.bind(this));
        }
      }

      constructor() {
        super();
      }
    }
    window.customElements.define(ButtonCounter.is, ButtonCounter);

  </script>
</dom-module>
