<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-module.html">

<dom-module id="element-dom-html">
  <template>
    <p inner-h-t-m-l="[[htmlContent]]">
    </p>
  </template>
  <script>
    /**
     * 'element-dom-html'
     * Exercise 11 of Exercism Polymer-GFT
     * 
     * @customElement
     * @polymer
     **/

    class ElementDomHtml extends Polymer.Element {
      static get is() {
        return 'element-dom-html';
      }

      static get properties() {
        return {
          htmlContent: {
            type: String,
            value: '<span>Demo for html content</span>'
          }
        }
      }

      constructor() {
        super();
      }

      // Old Solution
      // ready() {
      //   super.ready();
      //   const element = this.shadowRoot.querySelector('p');
      //   element.innerHTML = this.htmlContent;
      // }

    }
    window.customElements.define(ElementDomHtml.is, ElementDomHtml)

  </script>
</dom-module>
