<link rel="import" href="../../polymer/polymer-element.html" />

<dom-module id="computed-demo">
  <template>
    <span>{{euroCurrency.currency}}</span>
    <span>{{euroCurrency.miles}}</span>
    <span>{{euroCurrency.coma}}</span>
  </template>
  <script>
    /**
     * 'computed-demo'
     * Exercise 12 of Exercism Polymer-GFT
     *
     * @customElement
     * @polymer
     **/
    class ComputedDemo extends Polymer.Element {
      static get is() {
        return 'computed-demo';
      }

      static get properties() {
        return {
          value: {
            type: Number,
            value: 1233.12,
          },
          euroCurrency: {
            type: String,
            computed: 'translateEuros(value)',
          }
        };
      }

      translateEuros(value) {
        const formatter = new Intl.NumberFormat('de-DE').format(value).split(',');

        return {
          currency: '€',
          miles: formatter[0],
          coma: `,${formatter[1]}`
        }
      }

      constructor() {
        super();
      }
    }
    window.customElements.define(ComputedDemo.is, ComputedDemo);

  </script>
</dom-module>
