<link rel="import" href="../../polymer/polymer-element.html">

<dom-module id="bind-changed">
  <script>
    /**
     * 'bind-changed'
     * Exercise 02 of Exercism Polymer-GFT
     * 
     * @customElement
     * @polymer
     **/
    class BindChanged extends Polymer.Element {
      static get is() {
        return 'bind-changed';
      }

      static get properties() {
        return {
          prop: {
            type: String,
            notify: true,
            observer: '_valueChanged'
          }
        }
      }
      _valueChanged() {
        console.log('prop-change');
      }
    }
    window.customElements.define(BindChanged.is, BindChanged)

  </script>
</dom-module>
