<link rel="import" href="../../polymer/polymer-element.html" />
<link
  rel="import"
  href="../bower_components/polymer/lib/elements/dom-if.html"
/>

<dom-module id="element-dom-if">
  <template>
    <template is="dom-if" if="[[isVisible]]">
      <p>Text</p>
    </template>
  </template>
  <script>
    /**
     * 'element-dom-if'
     * Exercise 10 of Exercism Polymer-GFT
     *
     * @customElement
     * @polymer
     **/
    class ElemDomIf extends Polymer.Element {
      static get is() {
        return 'element-dom-if';
      }

      static get properties() {
        return {
          isVisible: {
            type: Boolean,
            value: false,
          },
        };
      }

      constructor() {
        super();
      }

      toggle() {
        this.isVisible = !this.isVisible;
      }
    }
    window.customElements.define(ElemDomIf.is, ElemDomIf);
  </script>
</dom-module>
