<link rel="import" href="../../polymer/polymer-element.html" />

<dom-module id="form-validation">
  <template>
    <form>
      <input id="name" type="text" name="name" value="{{nameValue::input}}" />
      <p class="error errorName" hidden$="[[!nameHaveError]]">[[errorName]]</p>
      <input id="email" type="email" name="email" value="{{emailValue::input}}" />
      <p class="error errorEmail" hidden$="[[!emailHaveError]]">[[errorEmail]]</p>
      <select id="children" name="children" value="{{childrenValue::change}}">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="more">Enserio, eres del OPUS?</option>
      </select>
      <p class="error errorChildren" hidden$="[[!childrenHaveError]]">[[errorChildren]]</p>
    </form>
    <button disabled=[[disabled]]>Enviar!</button>
  </template>
  <script>
    /**
     * 'form-validation'
     * Exercise 18 of Exercism Polymer-GFT
     * @customElement
     * @polymer
     **/
    class FormValidation extends Polymer.Element {
      static get is() {
        return 'form-validation';
      }

      static get properties() {
        return {
          errorName: {
            type: String,
          },
          nameHaveError: {
            type: Boolean,
            value: true,
          },
          nameValue: {
            type: String,
          },
          errorEmail: {
            type: String,
          },
          emailHaveError: {
            type: Boolean,
            value: true,
          },
          emailValue: {
            type: String,
          },
          errorChildren: {
            type: String,
          },
          childrenHaveError: {
            type: Boolean,
            value: true,
          },
          childrenValue: {
            type: String,
          },
          disabled: {
            type: Boolean,
            notify: true,
            reflectToAttribute: true,
            value: true,
          },
        };
      }

      constructor() {
        super();
      }

      ready() {
        super.ready();
        this.$.name.addEventListener('input', () => {
          this.nameHaveError = /^([a-zA-Z]{1,})$/.test(this.nameValue) ? false : true;
          this.checkForm();
        });
        this.$.email.addEventListener('input', () => {
          this.emailHaveError = /^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$/.test(this
            .emailValue) ? false : true;
          this.checkForm();
        });
        this.$.children.addEventListener('change', () => {
          this.childrenHaveError = this.childrenValue < 3 ? true : false;
          this.checkForm();
        });
      }

      checkForm() {
        this.disabled = this.nameHaveError === false && this.emailHaveError === false && this.childrenHaveError ===
          false ? false : true;
      }
    }
    window.customElements.define(FormValidation.is, FormValidation);

  </script>
</dom-module>
