<link rel="import" href="../../polymer/polymer-element.html">

<dom-module id="life-cycle-disconnected-callback">
  <script>
    /**
     * 'life-cycle-disconnected-callback'
     * Exercise 04 of Exercism Polymer-GFT
     * 
     * @customElement
     * @polymer
     **/
    class LifeCycleDisconnected extends Polymer.Element {
      static get is() {
        return 'life-cycle-disconnected-callback';
      }

      static get properties() {
        return {
          deleted: {
            type: Boolean,
            value: false
          }
        }
      }

      constructor() {
        super();
      }

      connectedCallback() {
        super.connectedCallback();
        this.isDisconnectedCallback();
      }

      disconnectedCallback() {
        super.disconnectedCallback();
        this.deleted = true;
      }

      isDisconnectedCallback() {
        document.querySelector('life-cycle-disconnected-callback').remove();
      }
    }
    window.customElements.define(LifeCycleDisconnected.is, LifeCycleDisconnected);

  </script>
</dom-module>
