<link rel="import" href="../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">

<link rel="import" href="./send-event.html">

<dom-module id="polymer-comunication-events">
  <template>
    <template is="dom-repeat" items="{{btns}}" as="btn">
      <send-event on-change-value="_onChangeValue" value="[[btn]]"></send-event>
    </template>
    <h1>[[evtTxt]]</h1>
  </template>
  <script>
    /**
     * 'polymer-comunication-events'
     * Exercise 16 of Exercism Polymer-GFT
     *
     * @customElement
     * @polymer
     **/

    class PolymerComunicationEvents extends Polymer.Element {
      static get is() {
        return 'polymer-comunication-events';
      }

      static get properties() {
        return {
          evtTxt: {
            type: String,
          },
          btns: {
            type: Array,
            notify: true
          },
          value: {
            type: String,
            notify: true
          }
        };
      }

      _onChangeValue(e) {
        this.evtTxt = e.detail.value;
      }

      constructor() {
        super();
      }

      ready() {
        super.ready();
      }
    }
    window.customElements.define(
      PolymerComunicationEvents.is,
      PolymerComunicationEvents
    );

  </script>
</dom-module>
