<link rel="import" href="../../polymer/polymer-element.html">

<dom-module id="polymer-slot-basic">
  <template>
    <slot></slot>
  </template>
  <script>
    /**
     * 'polymer-slot-basic'
     * Exercise 13 of Exercism Polymer-GFT.
     * 
     * @customElement
     * @polymer
     **/
    class PolymerSlotBasic extends Polymer.Element {
      static get is() {
        return 'polymer-slot-basic';
      }

      static get properties() {
        return {
          prop: {
            type: String,
          }
        }
      }
    }
    window.customElements.define(PolymerSlotBasic.is, PolymerSlotBasic)

  </script>
</dom-module>
