<link rel="import" href="../../polymer/polymer-element.html" />

<dom-module id="publish-attribute-dom">
  <template>
    <p is-custom></p>
  </template>
  <script>
    /**
     * 'button-counter'
     * Exercise 05 of Exercism Polymer-GFT
     *
     * @customElement
     * @polymer
     **/
    class PublishAttributeDom extends Polymer.Element {
      static get is() {
        return 'publish-attribute-dom';
      }

      static get properties() {
        return {
          isCustom: {
            type: String,
            value: '<p>',
            reflectToAttribute: true
          }
        }
      }

      constructor() {
        super();
      }
    }

    window.customElements.define(PublishAttributeDom.is, PublishAttributeDom);

  </script>
</dom-module>
