<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">



<dom-module id="element-dom-repeat">
  <template>
    <ul>
      <template is="dom-repeat" items="{{elems}}" as="elem">
        <li>{{elem}}</li>
      </template>
    </ul>
  </template>
  <script>
    /**
     * 'element-dom-repeat'
     * Exercise 09 of Exercism Polymer-GFT
     * 
     * @customElement
     * @polymer
     **/
    class ElementDomRepeat extends Polymer.Element {
      static get is() {
        return 'element-dom-repeat';
      }

      static get properties() {
        return {
          elems: {
            type: Array,
          }
        }
      }

      constructor() {
        super();
      }
    }

    window.customElements.define(ElementDomRepeat.is, ElementDomRepeat);

  </script>
</dom-module>
