<link rel="import" href="../../polymer/polymer-element.html" />

<dom-module id="polymer-slots-named">
  <template>
    <p>
      <slot name="first"></slot>
    </p>
    <p>
      <slot name="two"></slot>
    </p>
    <p>
      <slot name="three"></slot>
    </p>
    <p>
      <slot></slot>
    </p>
  </template>
  <script>
    /**
     * 'polymer-slots-named'
     * Exercise 14 of Exercism Polymer-GFT.
     *
     * @customElement
     * @polymer
     **/
    class PolymerSlotsNamed extends Polymer.Element {
      static get is() {
        return 'polymer-slots-named';
      }
    }
    window.customElements.define(PolymerSlotsNamed.is, PolymerSlotsNamed);

  </script>
</dom-module>
